:host{
  --_default-transition: .2s ease-in-out;
  position: fixed;
  inset: 0;
  background-color: var(--bs-container-bg);
  display: grid;
  place-items: center;
}

* {
  transition: var(--_default-transition);
}

.container{
  height: 100%;
  padding: 5vmin;
  max-width: min(500px, min(100vw, 100svw));
}

.container-content{
  position: relative;
  transform: translateX(calc(-100% * var(--_current-index)));
}

.content {
  position: relative;
  flex-basis: 100%;
  flex-shrink: 0;
  inset: 0;
  opacity: 0;
  transition: .2s ease-in-out;
}

.content.active {
  opacity: 1;
}

.indicator{
  border-radius: 50px;
  background-color: var(--bs-gray-400);
  width: .5rem;
  height: .5rem;
}

.indicator.active{
  width: 2rem;
  background-color: var(--bs-primary);
}
