header{
  background-color: var(--bs-container-bg);
  color: var(--bs-container-color);
}
.navbar {
  overflow-x: auto;
  overflow-y: hidden;
}
.navbar::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  background-color: red;
  z-index: -1;
  top: 20px;
}
