.card-task{
  min-height: 64px;
}

.card-task::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: clamp(1rem, 50%, 3rem);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(var(--_column-color-rgb));
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  display: grid;
  place-content: center;
  width: 30%;
  overflow: hidden;
  color: var(--bs-body-bg);
  &:hover{
    color: currentColor;
  }
}
