.btn.btn-default{
  --bs-btn-color: currentColor;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 186, 108, 44;
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-gray-500);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  font-weight: 600;
}

.btn.btn-primary {
  --bs-btn-color: var(--bs-white);
}

.btn{
  --bs-btn-border-radius: 4px;
}

.btn.btn-opt {
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: grid;
  place-content: center;
  --bs-btn-color: currentColor;
}
