.btn.btn-default{
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 186, 108, 44;
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-gray-500);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  font-weight: 600;
}

.btn.btn-primary {
  --bs-btn-color: var(--bs-white);
}
