$primary: #db7f34;
$primary-light: #d8ae77;
$primary-dark: #aa4526;
$secondary: #e74c3c;
$highlight: #f39c12;
$dark: #333333;
$light: #f5f5f5;
$body-bg: #cdcbd1;

$custom-colors: (
  'primary': $primary,
  'primary-light': $primary-light,
  'primary-dark': $primary-dark,
  'secondary': $secondary,
  'highlight': $highlight,
  'dark': $dark,
  'light': $light,
  'body-bg': $body-bg,
);


$theme-colors: map-merge-multiple($theme-colors, $custom-colors);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$utilities-bg: map-merge($utilities-colors, $theme-colors-rgb);

$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");

@import "node_modules/bootstrap/scss/bootstrap";
