.container-bg, .mat-bottom-sheet-container {
  background-color: var(--bs-container-bg);
  color: var(--bs-container-color);
}

.container-bg * {
  color: inherit !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent;
}

.container {
  --_offset: 1rem;
  --_max-width: 1320px;//max(960px, calc(80% - var(--_offset)));
  --_min-width: min(500px, calc(100% - var(--_offset) * .5));
  --_width: clamp(var(--_min-width), 80vw, var(--_max-width));
  --_padding: calc((100vw - var(--_width)) * .5 + var(--_offset) * .5);

  max-width: unset;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--_padding);
  padding-right: var(--_padding);
}
