// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap');

// body {
//   font-family: 'Roboto', sans-serif;
// }

.fw-100{
  font-weight: 100 !important;
}

.fw-200{
  font-weight: 200 !important;
}

.fw-300{
  font-weight: 300 !important;
}

.fw-400{
  font-weight: 400 !important;
}

.fw-500{
  font-weight: 500 !important;
}

.fw-600{
  font-weight: 600 !important;
}

.fw-700{
  font-weight: 700 !important;
}

.fw-800{
  font-weight: 800 !important;
}

.fw-900{
  font-weight: 900 !important;
}

.fs-1{
  font-size: 20px !important;
}

.fs-2{
  font-size: 18px !important;
}

.fs-3, .fs-regular{
  font-size: 16px !important;
}

.fs-4, .small{
  font-size: 14px !important;
}

.fs-5, .smaller{
  font-size: 12px !important;
}
