<h5 mat-dialog-title class="fs-2 fw-500 text-container-color">{{title}}</h5>
<mat-dialog-content>
  <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)"
  class="d-flex flex-column text-container-color" style="max-width: 500px;" >
    <mat-form-field class="mb-3">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Ex.: Ir ao mercado" name="title" [(ngModel)]="task.title" required>
      <mat-error *ngIf="taskForm.invalid && !task.title">
        Deve ser preenchido
      </mat-error>
    </mat-form-field>

    <div class="form-actions d-flex flex-nowrap ms-auto gap-2">

      <button
      type="button"
      mat-dialog-close
      style="background-color: rgba(var(--bs-body-bg-rgb), .5); color: var(--bs-body-color);"
      class="fw-500 px-4 rounded border-0">
        Cancelar
      </button>
      <button
      type="submit"
      [class.disabled]="taskForm.invalid"
      [class.opacity-50]="taskForm.invalid"
      mat-dialog-close
      class="btn btn-primary text-white fw-500 px-4 rounded border-0">
        Salvar
      </button>

    </div>
  </form>
</mat-dialog-content>
