:host {
  flex-grow: 1;
  display: flex;
}

.board-group {
  padding-bottom: calc(5rem);
}

.board-column {
  min-width: min(250px, 100%);
  flex-basis: 0;
  .board-header{
    position: relative;
    height: 2rem;
  }
}

#btn-new-task {
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 100;
  font-size: 3rem;
  transition: .2s;
  &:hover, &.active, &:active{
    transform: scale(1.1);
  }
}
