<ng-container *ngIf="loaderService.isShow()">
  <app-loader></app-loader>
</ng-container>

<div
#boardGroup
cdkDropListGroup

cdkDropList
[cdkDropListOrientation]="isFlexRow(boardGroup)? 'horizontal' : 'vertical'"
[cdkDropListData]="boards"
(cdkDropListDropped)="drop($event, 'board')"
style="min-height: 100%;"
class="container board-group drag-list d-flex flex-column flex-lg-row gap-2 flex-grow-1 pt-3 overflow-auto">
  <ng-container *ngFor="let board of boards; let i = index">
    <div
    cdkDrag
    [style]="'--_column-color: var(--bs-'+board.color+');--_column-color-rgb: var(--bs-'+(board.color == ''? 'container-color' : board.color)+'-rgb); height: fit-content;'"
    class="board-column drag-item d-flex flex-column card shadow-none rounded flex-lg-grow-1 pt-0 overflow-hidden border-0">
      <h6 [class]="'align-items-center board-header d-flex fs-2 fw-500 m-0 ps-3 my-2 me-2'">
        <span cdkDragHandle [class]="'flex-grow-1 h-100 d-grid align-items-center me-2'">{{board.name}}</span>
        <button type="button" [class]="'btn btn-opt btn-outline-'+board.color">
          <mat-icon>more_vert</mat-icon>
        </button>
      </h6>
      <hr style="color: var(--_column-color);" class="opacity-100 m-0">
      <div
      cdkDropList
      [cdkDropListData]="board.tasks"
      (cdkDropListDropped)="drop($event, 'task')"
      [class.border]="board.tasks.length > 0"
      style="border-radius: 4px;"
      class="drag-list overflow-hidden d-inline-block m-2 position-relative">
        <span *ngIf="!board.tasks.length"
        style="inset: 0; position: absolute; z-index: -1; opacity: .5; place-content: center; pointer-events: none;"
        class="text-center display-1 fs-2 d-grid"
        >
          Opa, não há nada aqui
        </span>
        <ng-container *ngFor="let task of board.tasks; let i = index">
          <app-task-card [task]="task" [isLast]="i === board.tasks.length -1" (onChangesEvent)="changeTaskBoard()"></app-task-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<button type="button" mat-icon-button [matMenuTriggerFor]="menu" class="btn btn-primary text-white rounded-circle shadow m-3 m-lg-5" id="btn-new-task">
  <mat-icon class="h-100 w-100">add</mat-icon>
</button>
<mat-menu #menu="matMenu" class="px-2 container-bg">
  <button mat-menu-item class="border-bottom" (click)="openNewTask()">
    <span>Nova tarefa</span>
  </button>
  <button mat-menu-item (click)="openNewBoard()">
    <span>Novo quadro</span>
  </button>
</mat-menu>
