.board-column{
  width: 100%;
  flex-basis: 0;
  .board-header{
    span.circle-sign{
      display: inline-block;
      background-color: rgba(var(--_bg-color), 1);
      outline: 2px solid;
      border: 3px solid var(--bs-container-bg);
      width: 1rem;
      height: 1rem;
      color: var(--_text-color);
    }
  }
}

#btn-new-task{
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  z-index: 1000;
  font-size: 3rem;
  transition: .2s;
  &:hover, &.active, &:active{
    transform: scale(1.1);
  }
}
